<h1>all students </h1>



<% for student in @students do %>

<p>First Name: <%= student.first_name %></p>
<p>Second Name: <%= student.second_name %></p>
<p>House: <%= student.house %></p>
<p>Age: <%= student.age %></p>
<hr/>


<% end %>
