<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
<html>
<head>
  <title>Hogwarts</title>
  <link rel="stylesheet" href = "/styles.css" />
</head>
<body>


  <nav id="grad" class="topnav">
    <a href="/">HOME</a>
    <a href="/students">ALL STUDENTS</a>
    <a href="/students/new">ENROLL A STUDENT</a>
  </nav>
  <center>
  <%= yield %>
  <img class="displayed" src="/last-logo.jpg" alt="">
</center>

</body>
</html>
