<form action="/students" method="POST">

  <label for="first-name-field">First name:</label>
  <input id="first-name-field" type="text" name="first_name" >

  <label for="second-name-field">Second Name:</label>
  <input id="second-name-field" type="text" name="second_name">






  <label for="house-select">Select a house:</label>
  <select id="house-select" name="house">
     <% for house in @houses do %>
     <option value="<%= house.name %>"><%= house.name %></option>
     <% end %>
  </select>

 <label for="age">Age:</label>
 <input id="age" type="number" name="age"/>

 <input type="submit" class="button" value="Save student"/>

</form>
